http:
  # =========================
  # Routers
  # =========================
  routers:
    pve-rtr:
      entryPoints:
        - https
      rule: "Host(`pve.homelab.blastwave.xyz`)"
      middlewares:
        - default-headers
      tls: {}
        # certResolver: cloudflare
      service: pve-svc

    pve2-rtr:
      entryPoints:
        - https
      rule: "Host(`pve2.homelab.blastwave.xyz`)"
      middlewares:
        - default-headers
      tls: {}
        # certResolver: cloudflare
      service: pve2-svc

    ns1-rtr:
      entryPoints:
        - https
      rule: "Host(`ns1.homelab.blastwave.xyz`)"
      middlewares:
          - default-headers
      tls: {}
      service: ns1-svc

    ns2-rtr:
      entryPoints:
        - https
      rule: "Host(`ns2.homelab.blastwave.xyz`)"
      middlewares:
          - default-headers
      tls: {}
      service: ns2-svc

    nas-rtr:
      entryPoints:
        - https
      rule: "Host(`nas.homelab.blastwave.xyz`)"
      middlewares:
          - default-headers
      tls: {}
      service: nas-svc

  # =========================
  # Services
  # =========================
  services:
    ns1-svc:
      loadBalancer:
        servers:
          - url: "http://10.10.50.10:5380"
        passHostHeader: true

    ns2-svc:
      loadBalancer:
        servers:
          - url: "http://10.10.50.11:5380"
        passHostHeader: true

    pve-svc:
      loadBalancer:
        servers:
          - url: "https://10.10.100.110:8006"
        passHostHeader: true

    pve2-svc:
      loadBalancer:
        servers:
          - url: "https://10.10.100.111:8006"
        passHostHeader: true

    nas-svc:
      loadBalancer:
        servers:
          - url: "https://10.10.50.120:9090"
        passHostHeader: true

  # =========================
  # Middlewares
  # =========================
  middlewares:
    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipAllowList:
        sourceRange:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
        - "172.16.0.0/12"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers
